@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Jua', sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/fondo2.jpg) no-repeat center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

header {
  display: flex;
  background-image: url(../img/fondo.jpg);
  border-bottom: 4px solid #e2b70a;
  margin-bottom: 10px; }
  header img {
    height: 150px;
    border-top: 4px solid #e2b70a;
    border-right: 4px solid #e2b70a;
    border-left: 4px solid #e2b70a; }
  header nav {
    margin: auto; }
    header nav div div ul li {
      font-size: 35px;
      text-decoration: none;
      list-style: none; }
      header nav div div ul li a {
        margin: 30px;
        color: #400;
        -webkit-text-stroke: 1px #e2b70a;
        transition: 1s; }
        header nav div div ul li a:hover {
          transform: scale(1.2); }

.sectionUno {
  display: flex;
  justify-content: center; }
  .sectionUno .tituloCentral {
    align-items: center;
    width: 700px;
    text-align: center;
    padding: 50px;
    margin-top: 80px;
    color: #fff;
    background-color: #400;
    border-radius: 50%;
    border: 4px solid #f00; }
    .sectionUno .tituloCentral h1 {
      font-size: 80px;
      -webkit-text-stroke: .9px #f00; }
    .sectionUno .tituloCentral h2 {
      font-size: 50px;
      -webkit-text-stroke: .6px #f00; }

.sectionDos .texto {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 120px;
  color: #e2b70a; }

section .productosImg {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 200px;
  grid-gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px; }

section img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.somos h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
  background-color: #e2b70a;
  padding: 10px;
  color: #400; }

.somos .somosContainer {
  display: flex;
  margin: 30px; }
  .somos .somosContainer .imgContainer img {
    height: 650px;
    width: 650px;
    border: 3px solid #e2b70a; }
  .somos .somosContainer .textContainer {
    overflow-y: auto;
    text-align: justify;
    background-color: #e2b70a;
    margin-left: 20px;
    padding: 10px;
    font-size: 19px; }
    .somos .somosContainer .textContainer p {
      color: #f00; }

.formContact {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  background: #FFF;
  width: 400px;
  box-shadow: 7px 13px 37px rgba(0, 0, 0, 0.8); }
  .formContact div {
    width: 100%;
    background: #e2b70a;
    overflow: hidden;
    color: white; }
    .formContact div span {
      text-align: center;
      display: block; }
      .formContact div span img {
        width: 200px;
        padding: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 100%; }
  .formContact .contact {
    padding: .8rem;
    overflow: hidden;
    color: gray; }
    .formContact .contact label {
      display: block;
      width: 100%;
      margin-bottom: 5px;
      font-weight: 700px; }
    .formContact .contact input {
      display: block;
      width: 100%;
      margin-bottom: 5px; }
    .formContact .contact textarea {
      display: block;
      width: 100%;
      margin-bottom: 5px; }

footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 4px solid #e2b70a;
  background-image: url(../img/fondo.jpg); }
  footer h2 {
    margin-top: 30px;
    font-size: 40px;
    letter-spacing: 7px;
    color: #400;
    -webkit-text-stroke: 1px #e2b70a;
    font-weight: 100; }
  footer .logos {
    display: flex;
    margin-bottom: 25px; }
    footer .logos a img {
      margin: 20px;
      width: 50px;
      transition: .5s; }
      footer .logos a img:hover {
        transform: scale(1.2); }
  footer .derechos {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; }
    footer .derechos h3 {
      font-size: 15px;
      margin-left: 8px;
      margin-right: 8px; }
      footer .derechos h3 b {
        font-size: 15px; }
    footer .derechos img {
      width: 20px; }

@media screen and (max-width: 1325px) {
  .somos .somosContainer {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .somos .somosContainer .imgContainer {
      margin-bottom: 30px; }
      .somos .somosContainer .imgContainer img {
        height: 500px;
        width: 600px; }
    .somos .somosContainer .textContainer {
      margin-right: 20px; } }

@media screen and (max-width: 1250px) {
  .productosImg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px; } }

@media screen and (max-width: 991px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center; }
    header img {
      height: 300px;
      border-bottom: 4px solid #e2b70a; }
    header nav div button {
      margin: 30px;
      background-color: #e2b70a;
      border: 3px solid #f00; }
      header nav div button:focus {
        box-shadow: none; } }

@media screen and (max-width: 825px) {
  header img {
    height: 250px;
    width: 250px; }
  header nav div {
    justify-content: center; }
    header nav div button {
      margin: 15px; }
    header nav div div ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center; }
      header nav div div ul li a {
        margin: 0px; }
  .sectionUno .tituloCentral {
    justify-content: center;
    width: 500px;
    text-align: center;
    padding: 40px;
    margin-top: 50px;
    color: #fff;
    background-color: #400;
    border-radius: 50%;
    border: 4px solid #f00; }
    .sectionUno .tituloCentral h1 {
      font-size: 50px;
      -webkit-text-stroke: .9px #f00; }
    .sectionUno .tituloCentral h2 {
      font-size: 30px;
      -webkit-text-stroke: .6px #f00; }
  .sectionDos .texto {
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 100px;
    margin-left: 30px;
    color: #e2b70a; } }

@media screen and (max-width: 700px) {
  .somos .somosContainer .imgContainer img {
    height: 400px;
    width: 500px; }
  .productosImg {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 250px; } }

@media screen and (max-width: 600px) {
  .formContact {
    width: 250px; }
  .somos .somosContainer .imgContainer img {
    height: 300px;
    width: 400px; } }

@media screen and (max-width: 500px) {
  .somos .somosContainer .imgContainer img {
    height: 200px;
    width: 300px; } }

@media screen and (max-width: 510px) {
  .sectionUno .tituloCentral {
    justify-content: center;
    width: 350px;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    color: #fff;
    background-color: #400;
    border-radius: 50%;
    border: 4px solid #f00; }
    .sectionUno .tituloCentral h1 {
      font-size: 40px;
      -webkit-text-stroke: .9px #f00; }
    .sectionUno .tituloCentral h2 {
      font-size: 15px;
      -webkit-text-stroke: .6px #f00; }
  .sectionDos .texto {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 50px;
    margin-left: 20px;
    color: #e2b70a; } }

@media screen and (max-width: 400px) {
  .somos .somosContainer .imgContainer img {
    height: 200px;
    width: 250px; } }

@media screen and (max-width: 370px) {
  header img {
    height: 320px;
    width: 100%; }
  footer .logos {
    display: flex;
    flex-direction: column;
    margin: 10px; }
    footer .logos a img {
      margin: 10px; }
  footer .derechos {
    margin-top: 10px; } }
