header {
    display: flex;
    background-image: url(../img/fondo.jpg);
    border-bottom: 4px solid rgb(226, 183, 10);
    margin-bottom: 10px;
    img {
        height: 150px;
        border-top: 4px solid rgb(226, 183, 10);
        border-right: 4px solid rgb(226, 183, 10);
        border-left: 4px solid rgb(226, 183, 10);
    }
    nav {
        margin: auto;
        div {
            div {
                ul {
                    li {
                        font-size: 35px;
                        text-decoration: none;
                        list-style: none;
                        a {
                            margin: 30px;
                            color: #400;
                            -webkit-text-stroke: 1px rgb(226, 183, 10);
                        }
                    }
                }
            }
        }
    }
}
